html{
    font-size: 30px;
}

body{
    margin: 0;
    font-family: 'Nunito', Helvetica;
}

article{
    margin-left: 20px;
    margin-right: 20px;
}

#sezione{
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:60px;
    background-color: black;
    color: white;
    height: 100px;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(197, 217, 209, 0.592);
    height: 60px;
}

nav a{
   background-color: rgba(239, 170, 118, 0.944);
   border-radius: 15px; 
   color: rgb(255, 255, 255);
   font-size: 0.6rem;
   padding: 10px 15px;
   text-decoration: none;
}

nav a:hover{
    background-color: rgba(239, 170, 118, 0.673);
    color:black;
}

h1{
    width: 800px;
    color: white;
    text-align: center;
    font-family: 'Lilita One', Helvetica;
    font-size: 2rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

#overlay{
    position: absolute;
    background-color: rgba(0,0,0,.3);
    top: 0;
    bottom:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#profilo{
    text-align: center;
    line-height: 140%;
    margin-bottom: 30px;
    font-size: 0.6rem;
}

#profilo img{
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    border: 2px solid lightgray;
}

#profilo em{
   border-bottom: 2px solid lightgrey;
   padding-bottom: 10px;
}

.indice{
    font-size: 1.3rem;
    color: lightgrey;
    margin-right:35px;
    font-family: "Lucida";
}

.blocco{
    margin: 0px;
    width: 90%;
}

.notizie .blocco{
    width: 80%;
}

h2{
    font-size: 1.3rem;
    font-family: "Lucida";
    margin-top:0px;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
}

.blocco h2{
    border: 0px;
    padding: 0px;
}

h3{
    font-size: .7rem;
    color: rgba(239, 170, 118, 0.944);
    margin-top: -25px;
    margin-bottom: 0px;
}

.notizie h3{
    margin-top: 0px;
    font-size: 1rem;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 190%;
    font-size: .7rem;
}

section img{
    width: 100%; 
}

.blocco img{
    margin-bottom:60px;
    margin-left: 26%;
    width: 50%; 
}

#frasi label{
    font-size: 0.8rem;
}

#submit{
    height: 30px;
    width: 75px;
    font-size: 0.6rem;
    background-color: rgba(239, 170, 118, 0.513);
    border-radius: 10px;
    border: 1px solid black;
}

#submit:hover{
    background-color: rgba(239, 170, 118, 0.23);
}

form #testo{
    width: 30%;
    height: 23px;
    margin: 10px;
}

.grassetto{
    font-weight: bold;
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#risultato{
    margin-left: 5px;
}


#risultato h3{
    color: rgba(239, 170, 118, 0.944);
    margin-top: 15px;
    font-size: 1rem;
}

#risultato em{
    line-height: 190%;
    font-size: .7rem;
}

.notizie a{
    font-size: .6rem;
    color:rgb(146, 210, 231);
    display: block;
    margin-bottom: 15px;
}

aside {
    font-size: 0.6rem;
    width: 25%;
    margin-right: 10px;
    margin-left: -15px;
    padding: 0 10px;
}

aside h2{
    font-size: 0.8rem;
}

#view{
    display: flex;
    flex-direction: column;
}

.container{
    border:1px solid  rgb(239, 170, 118);
    padding: 15px;
    margin-top:5px;
    margin-bottom: 5px;
}

.hidden{
    display: none;
}

button{
    height: 30px;
    font-size: 0.6rem;
    background-color: rgba(239, 170, 118, 0.513);
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
}

button:hover{
    background-color: rgba(239, 170, 118, 0.23);
}

#view a,p{
    margin-bottom: 0px;
}

.logo {
    width: 20%;
}


@media (max-width: 600px) {

    header {
      height: 300px;
    }

    footer{
        height: 50px;
        margin-top: 40px;
    }

    html{
        font-size: 20px;
    }

    #sezione{
        margin-top: 40px;
    }

    .blocco{
        width: 75%;
    }

    form #testo{
        margin: 5px;
        width: 80%;
    }

    #view .grassetto,p{
        font-size: 0.6rem;
    }
  }
